.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.principal {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #030024;  /* azul bem claro */
}

/* Caixa branca do formulário */
.container {
  background: #ffffff;
  padding: 32px;
  border-radius: 16px;
  width: 340px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Título */
.container h2 {
  text-align: center;
  color: #1e3a8a; /* azul escuro */
  font-weight: 600;
  margin-bottom: 12px;
}

/* Labels */
.container label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #1e3a8a;
}

/* Inputs */
.container input {
  padding: 10px 12px;
  border: 1px solid #a8c1ff;
  border-radius: 8px;
  margin-top: 4px;
  transition: all 0.2s;
}

.container input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.4);
}

/* Botões */
.container button {
  background: #2563eb;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.container button:hover {
  background: #1d4ed8;
}

.container button:disabled {
  background: #93c5fd;
  cursor: not-allowed;
}

/* Espaçamento entre botões */
.container button + button {
  margin-left: 6px;
}

/* Mensagens */
.container p {
  font-size: 14px;
}

.container pre {
  font-size: 13px;
  border-radius: 6px;
}
