body { 
    font-family: Arial, Helvetica, sans-serif; 
    background: #030024;
}
input { 
    padding: 6px 8px; 
    width: 100%; 
    box-sizing: border-box;
    
}
button { 
    padding: 8px 12px; 
}
pre { 
    white-space: pre-wrap; 
    word-break: break-word; 
}

